# intellij files
.idea/

# node_modules
js-mastery-node-express-api/node_modules/
web-dev-simpli-express-mongo-api/node_modules/
practice/empl-mgmt-api/node_modules/
practice/book-publisher-api/node_modules/
practice/social-media-api/node_modules/
practice/online-learning-api/node_modules/
practice/hr-api/node_modules/
practice/pl-api-with-rate-limiter/node_modules/
practice/rest-api-with-auth/node_modules/
practice/node-with-typescript/node_modules/
practice/express-ts-minimal/node_modules/
practice/crud-app/node_modules/
practice/crud-app-2/node_modules/
practice/crud-app-3/node_modules/
udemy/e-shop/backend/node_modules/

# projects to ignore
practice/crud-app-2/

# env file
web-dev-simpli-express-mongo-api/.env
practice/pl-api-with-rate-limiter/.env

# ignored misc folders
udemy/e-shop/12.1 initial-eshop-backend/

